/* CSS estilos */
/* -------------------- Estilos para Register -----------------------*/
:root{
    --bg-color:#0a0b3dfb;
    --primary-color:#05335e;
    --secondary-color:#aa4be9;
    --third-color:#0571c9;
    --third-bis-color:#591da8f2;
    --bg-input-color:#4f31572c;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    cursor: pointer;
}

h1{
    color: #FFF;
    font-size: 2vw;
}

h2{
    color: #FFF;
    font-size: 2vw;
    text-align: center;
    margin-top: 5vh;
}

h3{
    color: #FFF;
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 2vh;
}

#logo{
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
}

.logo-text, i{
    color: #FFF;
    font-size: 2.5vh;
}

.cuevana-logo{
    margin-top: 10px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 8px;
}

body{
    background-color: var(--bg-color);
    font-family: 'Nunito', sans-serif, 'poppins';
    margin: 0;
    padding: 0;
}  

.form-control{
     color: #FFF;
     font-family: 'Nunito', sans-serif, 'poppins';
}


.header{
    background-color: transparent;
    color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: #FFF;
}

/* Estilos específicos para dispositivos móviles */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        margin-top: 20px;
        flex-direction: column;
    }

    .nav-links li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

section{
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    align-content: center;
    justify-items: center;
    padding-bottom: 10px;
    background-color: var(--primary-color);
}

form{
    width: 40%;
    margin: 1.5vh auto auto auto;
    background-color: #0427446c;
    border-radius: 15px;
}

.form-control{
    
    margin: 20px;
}

input{
    display: flex;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
}

.form-select{
    padding: 5px 45px;
}

.terms input[type="checkbox"], .terms label{
    display: inline;
    color: #FFF;
}


.submit-button {
    display: flex;
    width: 150px;
    margin-top: 10px;
    font-weight: bold;
    margin-left: 40%;
    margin-bottom: 5px;
    padding: 0.75rem;
    background: rgb(87, 145, 212);
    border-radius: 10px;
    cursor: pointer;
    color: #FFF;
    position: relative;
    align-items: center;
  }

footer a, .form-help a{
    color: #FFF;
}

footer{
    height: 1vh;
    padding-top: 50px;
    text-align: center;
}

